@model MumanalPG.Models.Ventas.TablaPDF

@{
    ViewData["Title"] = "Create";
}

<h4>TablaPDF</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">

                <table>
                    <tr>
                        <td> <label asp-for="IdDocumento" class="control-label"></label> </td>
                        <td>
                            <input asp-for="IdDocumento" class="form-control" />
                            <span asp-validation-for="IdDocumento" class="text-danger"></span>
                        </td>
                    </tr>
                </table>
            </div>

            <input type="file" name="PDFFile" required accept="application/pdf" />

            <br>
            <br>
            <br>
            <br>
            <div class="form-group">
                <input type="submit" value="Grabar" class="btn btn-default" />
            </div>
            @*<button type="submit">alserver</button>*@
        </form>
        <br/>
        @*<label>Archivo subido=@ViewData["RutaDocumento"]</label>*@
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
