@model MumanalPG.Models.Finanzas.PlanCuentas
<div class="row justify-content-center">
    <div class="col-10">
        <div class="card border-info">
            <div class="card-body">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Cuenta)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Cuenta)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.NombreCuenta)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.NombreCuenta)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>