@model MumanalPG.Models.Ventas.VentaSolicitud
<form asp-action="@ViewData["Action"]">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @{
        string hasError = "has-danger";
        string stringErrors = "";
        if (ViewData.ModelState.IsValid) { hasError = ""; }
        else
        {
            var errorList = ViewData.ModelState.Where(x => x.Value.Errors.Count > 0).ToDictionary(kvp => kvp.Key);
            stringErrors = String.Join(",", errorList.Select(x => x.Key));
        }

    }
    <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />

    <input type="hidden" asp-for="IdVentaSolicitud" />

    <div class="form-group m-b-40 @if(stringErrors.Contains("IdBeneficiario")){@hasError}">
        <label asp-for="IdBeneficiario" class="form-control-label"></label>
        <textarea asp-for="IdBeneficiario" class="form-control"></textarea>
        <span asp-validation-for="IdBeneficiario" class="text-danger"></span>
    </div>
    <div class="form-group m-b-40 @if(stringErrors.Contains("Descripcion")){@hasError}">
        <label asp-for="Descripcion" class="form-control-label"></label>
        <input asp-for="Descripcion" class="form-control" />
        <span asp-validation-for="Descripcion" class="text-danger"></span>
    </div>
    <div class="form-group m-b-40 @if(stringErrors.Contains("IdUnidadEjecutora")){@hasError}">
        @*var items2 = new List<SelectListItem>();

            items2 = DB.RRHH_UnidadEjecutora.
            	   Select(c => new SelectListItem()
            	   {
            		   Text = c.Descripcion,
            		   Value = c.IdUnidadEjecutora.ToString()
            	   }).
            	   ToList();
            ViewBag.UnidadesEjecutoras = items2;*@

            <label asp-for="IdUnidadEjecutora" class="form-control-label"></label>
            <input asp-for="IdUnidadEjecutora" class="form-control" />
            <span asp-validation-for="IdUnidadEjecutora" class="text-danger"></span>
    </div>
    <div class="form-group m-b-40 @if(stringErrors.Contains("FechaSolicitud")){@hasError}">
        <label asp-for="FechaSolicitud" class="form-control-label"></label>
        <input asp-for="FechaSolicitud" class="form-control" />
        <span asp-validation-for="FechaSolicitud" class="text-danger"></span>
    </div>
    @*<div class="form-group m-b-40 @if(stringErrors.Contains("IdDocumentoRespaldo")){@hasError}">
        <label asp-for="IdDocumentoRespaldo" class="form-control-label"></label>
        <input asp-for="IdDocumentoRespaldo" class="form-control" />
        <span asp-validation-for="IdDocumentoRespaldo" class="text-danger"></span>
    </div>*@
    
</form>
