@model MumanalPG.Models.Finanzas.Chequera  
<partial name="_MensajeEliminar"/>
<form asp-action="Delete">
    <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
    <input type="hidden" asp-for="IdChequera"/>
</form>
