@model MumanalPG.Models.Correspondencia.DTO.HojaRutaPDFDTO;
@using MumanalPG.Models.Correspondencia;
@using MumanalPG.Utility
<div class="row mb-2">
    <div class=" col-1">
        <img height="65px" src="@Context.Request.PathBase/lib/theme-elegant/img/logo-80.png" alt="homepage" class="light-logo"/>
    </div>
    <div class="col-10 text-center">
        <h3 class="mb-0">CORRESPONDENCIA @Model.hojaRuta.TipoHojaRuta</h3>
        <h5 class="mb-0">@Model.hojaRuta.CiteHojaRuta</h5>
        @if (Model.hojaRuta.CiteUE != null && Model.hojaRuta.TipoHojaRuta == Constantes.HojaRutaInterna)
        {
            <h6>@Model.hojaRuta.CiteUE</h6>
        }
            
    </div>
</div>