@model MumanalPG.Models.Correspondencia.DTO.HojaRutaPDFDTO;
@using MumanalPG.Models.Correspondencia;
 <div class="box box-container margin-box mt-0">
        <div class="row">
            <div class="col col-1 text-right">
                <label>DE:</label>
            </div>
            <div class="col col-5">
                <p class="bg-light nombre-funcionario">
                    &nbsp;<br/>&nbsp;
                </p>
            </div>
            <div class="col col-1 text-right">
                <label>PARA:</label>
            </div>
            <div class="col col-5">
                <p class="bg-light nombre-funcionario">
                   &nbsp;<br/>&nbsp;
                </p>
            </div>
        </div>
        <div class="row m-0 p-0">
            <div class="col col-12 m-0 p-0">
               
                <label>SOLICITO A USTED:</label>
                <span style="border-bottom: 1px solid #ccc; width: 350px;">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                </span>
            </div>
        </div>
        <div class="row"> 
            <div class="col col-6 m-0 p-0">
                <label>PROVEÍDO:</label>
                <div class="col-12 box box-min bg-light pr-1 mt-0 pt-0">
                    <table>
                        @for (int i = 1; i < 6; i++)
                        {
                            <tr style="border-bottom: solid #ccc 1px; padding: 0; margin:0; line-height: 26px;">
                                <td width="450px">&nbsp;</td>
                            </tr>
                        }
                    </table>
                    <div class="small" style="position: absolute; top: 10px; left:10px; right: 10px; line-height: 27px;">
                        <span>&nbsp;</span>
                    </div>
                </div>
            </div>
            <div class="col col-3 mt-0 pt-0" style="margin-left: 18px;">
                <label>SELLO EMISIÓN:</label>
                <div class="col-11 box box-min bg-light mt-0 pt-0"></div>
            </div>
            <div class="col col-3 mt-0 pt-0" style="margin-left: -6px;">
                <label>SELLO RECEPCIÓN:</label>
                <div class="col-11 box box-min bg-light mt-0 pt-0"></div>
            </div>
        </div>
        <div class="row box bg-light text-center mr-0 mt-0  mb-0 p-0">
            <div class="col col-2 line-height-normal small">
                <label style="position: absolute; top: 15px; right: 10px;">FECHA DE EMISIÓN:</label>
            </div>
            <div class="col col-2 text-left">
                <p class="bg-light">&nbsp;</p>
            </div>
            
            <div class="col col-2 line-height-normal small">
                <label style="position: absolute; top: 15px; right: 10px;">FECHA DE RECEPCIÓN:</label>
            </div>
            <div class="col col-2">
                <p class="bg-light">&nbsp;</p>
            </div>
            <div class="col col-2 line-height-normal small">
                <label style="position: absolute; top: 15px; right: 10px;">NRO. FOJAS:</label>
            </div>
            <div class="col col-1">
                <p class="bg-light">&nbsp;</p>
            </div>
        </div>
    </div>
