<div class="modal fade" id="modal-filter" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-title">Filtro</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="preloader-modal preloader cssload-speeding-wheel">
                <div class="loader">
                    <div class="loader__figure"></div>
                    <p class="loader__label">Sistema Integrado Mumanal</p>
                </div>
            </div>
            <div class="modal-body p-5">
                <div class="row justify-content-center">
                    <div class="col-2 align-self-center text-right">
                        <label class="font-weight-normal">Desde</label>
                    </div>
                    <div class="col-4 pr-0">
                        <div class="input-group mb-3">
                            <input id="range1" class="form-control range-date"/>
                            <input id="start-date" name="start-date" class="form-control" placeholder="Seleccione rango de fechas"/>
                            <button type="submit" class="btn btn-secondary input-group-append">
                                <span class="fas fa-calendar-alt" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>

                    <div class="col-2 align-self-center text-right pl-0">
                        <label class="font-weight-normal">Hasta</label>
                    </div>
                    <div class="col-4">
                        <div class="input-group mb-3">
                            <input id="end-date" name="end-date" class="form-control" placeholder="Seleccione rango de fechas"/>
                            <button type="submit" class="btn btn-secondary input-group-append">
                                <span class="fas fa-calendar-alt" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-2 align-self-center text-right">
                        <label class="font-weight-normal">Tipo de Hoja de Ruta</label>
                    </div>
                    <div class="col-4 pr-0">
                        <select id="HRType" class="form-control">
                            <option value="">Interna/Externa</option>
                            <option value="INTERNA">Interna</option>
                            <option value="EXTERNA">Externa</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">
                    <i class="fas fa-times animated rollIn mr-2"></i>Cancelar
                </button>
                <button id="modal-accept" type="button" class="btn btn-success show-loader">
                    <i class="fas fa-check animated rollIn mr-2"></i> Aceptar
                </button>
            </div>
        </div>
    </div>
</div>
<script>
$(function() {

     duDatepicker('#range1',{
        range:true,
        maxDate:'today',
        fromTarget:'#start-date',
        toTarget: '#end-date'
     });
     
     $('#modal-accept').click(function() {
         $('#start_date').val($('#start-date').val());
         $('#end_date').val($('#end-date').val());
         $('#type').val($('#HRType').val());
         $('#modal-filter').modal('hide');
         $('#search-form').submit();
     });

})
</script>