@model ReflectionIT.Mvc.Paging.PagingList<MumanalPG.Models.Correspondencia.HojaRuta>
@using MumanalPG.Utility
@using ReflectionIT.Mvc.Paging
@addTagHelper *, ReflectionIT.Mvc.Paging
@{
    ViewData["Title"] = "Correspondencia Interna";
    OptionPartial options = new OptionPartial();
    string intro_msg_search = "Puede buscar una Hoja de ruta Interna introduciendo el Cite o la Referencia en este campo, " +
                              "luego presionar la tecla <b>'Enter'</b> o el botón <button class='btn-sm btn-secondary'>" +
                              "<i class='fas fa-search'></i></button>";
}
<div class="row">
    <div class="col-12 text-right">
       
    </div>
</div>


<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="row">
                <div class="col-lg-3 col-md-4">
                    <div class="card-body inbox-panel">
                        <a asp-action="create" class="btn btn-instagram m-b-20 p-10 btn-block waves-effect waves-light" data-toggle="tooltip" title="Nueva Hoja de Ruta Interna"
                           data-intro="Click, en este botón para crear una nueva Hoja de Ruta Interna">
                            <i class="fas fa-plus"></i><span>&nbsp; Nuevo </span>
                        </a>

                        <ul class="list-group list-group-full">
                            <li class="list-group-item active">
                                <a href="javascript:void(0)">
                                    <i class="mdi mdi-gmail"></i> Recibidos
                                </a>
                                <span class="badge badge-success ml-auto">6</span>
                            </li>
                            
                            <li class="list-group-item">
                                <a href="javascript:void(0)"> <i class="mdi mdi-alert"></i> Urgentes </a>
                            </li>
                            
                            <li class="list-group-item">
                                <a href="javascript:void(0)">
                                     <i class="mdi mdi-send"></i> Despachados
                                </a><span class="badge badge-danger ml-auto">3</span>
                            </li>
                            <li class="list-group-item ">
                                <a href="javascript:void(0)">
                                     <i class="mdi mdi-file-document-box"></i> Archivados
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a href="javascript:void(0)"> <i class="mdi mdi-delete"></i> Eliminados </a>
                            </li>
                        </ul>
                    </div>
                </div>
            <div class="col-lg-9 col-md-8 bg-light border-left">
                <div class="row mt-3">
                    <div class="col-12">
                        <form method="get" class="form form-search" data-intro="@intro_msg_search">
                            <div class="input-group mb-3">
                                <input name="filter" class="form-control search" placeholder="Buscar por Cite o Referencia..."
                                       value="@Model.RouteValue["Filter"]"/>
                                <button type="submit" class="btn btn-secondary input-group-append">
                                    <span class="fas fa-search" aria-hidden="true"></span>
                                </button>
                            </div>            
                        </form>
                    </div>
                </div>
                
                <div class="card-body p-t-0">
                    <div class="card b-all shadow-none">
                        <div class="inbox-center table-responsive">
                            <table class="table table-hover no-wrap">
                                <tbody>
                                    <tr class="unread">
                                        
                                        <td style="width:40px" class="hidden-xs-down"><i class="fa fa-star-o"></i></td>
                                        <td class="hidden-xs-down">Hritik Roshan</td>
                                        <td class="max-texts"> <a href="app-email-detail.html"><span class="label label-info m-r-10">Work</span> Lorem ipsum perspiciatis unde omnis iste natus error sit voluptatem</a></td>
                                        <td class="hidden-xs-down"><i class="fa fa-paperclip"></i></td>
                                        <td class="text-right"> 12:30 PM </td>
                                    </tr>
                                    <tr class="">
                                        
                                        <td class="hidden-xs-down"><i class="fa fa-star text-warning"></i></td>
                                        <td class="hidden-xs-down">Genelia Roshan</td>
                                        <td class="max-texts"><a href="app-email-detail.html">Lorem ipsum perspiciatis unde omnis iste natus error sit voluptatem</a></td>
                                        <td class="hidden-xs-down"><i class="fa fa-paperclip"></i></td>
                                        <td class="text-right"> May 13 </td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <nav>
        <vc:pager paging-list="@Model"/>
    </nav>
</div>
<script>
    $(document).ready(function() {
        $('body').removeClass("lock-nav");
    });
</script>