@model IEnumerable<MumanalPG.Models.ProductTypes>
@{
    ViewData["Title"] = "Tipos de Producto";
}

<div class="row">

    <div class="col-12 text-right">
        <a asp-action="Create" class="btn btn-primary" data-toggle="tooltip" title="Nuevo Tipo de Producto">
            <i class="fas fa-plus"></i><span class="d-none d-sm-inline">&nbsp; Nuevo </span>
        </a>
    </div>
</div>

<br/>
<div class="col-12 table-responsive">
    <table class="table table-hover table-striped">

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.Name)
                </td>
                <td>
                    <partial name="_TableButtonPartial" model="item.Id"/>
                </td>
            </tr>
        }
    </table>
</div>