@model MumanalPG.Models.RRHH.Beneficiario  
<partial name="_MensajeEliminar"/>
<form asp-action="Delete">
    <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
    <input type="hidden" asp-for="IdBeneficiario"/>
</form>
