@model MumanalPG.Models.RRHH.Beneficiario
<form asp-action="@ViewData["Action"]">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @{
        string hasError = "has-danger";
        string stringErrors = "";
        if (ViewData.ModelState.IsValid) { hasError = ""; }
        else
        {
            var errorList = ViewData.ModelState.Where(x => x.Value.Errors.Count > 0).ToDictionary(kvp => kvp.Key);
            stringErrors = String.Join(",", errorList.Select(x => x.Key));
        }

    }
    <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
    <input type="hidden" asp-for="IdBeneficiario" />
    <div class="form-group m-b-40 @if(stringErrors.Contains("PrimerApellido")){@hasError}">
        <label asp-for="PrimerApellido" class="form-control-label"></label>
        <textarea asp-for="PrimerApellido" class="form-control"></textarea>
        <span asp-validation-for="PrimerApellido" class="text-danger"></span>
    </div>
    <div class="form-group m-b-40 @if(stringErrors.Contains("SegundoApellido")){@hasError}">
        <label asp-for="SegundoApellido" class="form-control-label"></label>
        <input asp-for="SegundoApellido" class="form-control" />
        <span asp-validation-for="SegundoApellido" class="text-danger"></span>
    </div>
    <div class="form-group m-b-40 @if(stringErrors.Contains("PrimerNombre")){@hasError}">
        <label asp-for="PrimerNombre" class="form-control-label"></label>
        <input asp-for="PrimerNombre" class="form-control" />
        <span asp-validation-for="PrimerNombre" class="text-danger"></span>
    </div>
    <div class="form-group m-b-40 @if(stringErrors.Contains("PuestoId")){@hasError}">
        <label asp-for="PuestoId" class="form-control-label"></label>
        <input asp-for="PuestoId" class="form-control" />
        <span asp-validation-for="PuestoId" class="text-danger"></span>
    </div>
</form>