@model MumanalPG.Models.Finanzas.Banco
<form asp-action="@ViewData["Action"]">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @{
        string hasError = "has-danger";
        string stringErrors = "";
        if (ViewData.ModelState.IsValid) { hasError = ""; }
        else
        {
            var errorList = ViewData.ModelState.Where(x => x.Value.Errors.Count > 0).ToDictionary(kvp => kvp.Key);
            stringErrors = String.Join(",", errorList.Select(x => x.Key));
        }
    }
    <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
    <input type="hidden" asp-for="IdBanco" />

    <div class="form-group m-b-40 @if(stringErrors.Contains("Descripcion")){@hasError}">
        <label asp-for="Descripcion" class="form-control-label"></label>
        <textarea asp-for="Descripcion" class="form-control"></textarea>
        <span asp-validation-for="Descripcion" class="text-danger"></span>
    </div>
    <div class="form-group m-b-40 @if(stringErrors.Contains("Sigla")){@hasError}">
        <label asp-for="Sigla" class="form-control-label"></label>
        <input asp-for="Sigla" class="form-control" />
        <span asp-validation-for="Sigla" class="text-danger"></span>
    </div>
    <div class="form-group m-b-40 @if(stringErrors.Contains("NIT")){@hasError}">
        <label asp-for="NIT" class="form-control-label"></label>
        <input asp-for="NIT" class="form-control" />
        <span asp-validation-for="NIT" class="text-danger"></span>
    </div>
    <div class="form-group m-b-40 @if(stringErrors.Contains("IdMunicipio")){@hasError}">
        <label asp-for="IdMunicipio" class="form-control-label"></label>
        <br>
        @Html.DropDownList("Municipio", ViewBag.Municipio, "Sin asignar", new { @class = "form-control" })
        @*<input asp-for="IdMunicipio" class="form-control" />
        <span asp-validation-for="IdMunicipio" class="text-danger"></span>*@
    </div>
    <div class="form-group m-b-40 @if(stringErrors.Contains("Direccion")){@hasError}">
        <label asp-for="Direccion" class="form-control-label"></label>
        <input asp-for="Direccion" class="form-control" />
        <span asp-validation-for="Direccion" class="text-danger"></span>
    </div>
    <!-- <div class="form-group m-b-40 @if(stringErrors.Contains("Representante")){@hasError}">
        <label asp-for="Representante" class="form-control-label"></label>
        <input asp-for="Representante" class="form-control" />
        <span asp-validation-for="Representante" class="text-danger"></span>
    </div>
    <div class="form-group m-b-40 @if(stringErrors.Contains("CargoRepresentante")){@hasError}">
        <label asp-for="CargoRepresentante" class="form-control-label"></label>
        <input asp-for="CargoRepresentante" class="form-control" />
        <span asp-validation-for="CargoRepresentante" class="text-danger"></span>
    </div>
    // Añadir item booleano!
    <div class="form-group m-b-40 @if(stringErrors.Contains("BancoIntermediario")){@hasError}">
        <label asp-for="BancoIntermediario" class="form-control-label"></label>
        <input asp-for="BancoIntermediario" class="form-control" />
        <span asp-validation-for="BancoIntermediario" class="text-danger"></span>
    </div>
    <div class="form-group m-b-40 @if(stringErrors.Contains("Observaciones")){@hasError}">
        <label asp-for="Observaciones" class="form-control-label"></label>
        <input asp-for="Observaciones" class="form-control" />
        <span asp-validation-for="Observaciones" class="text-danger"></span>
    </div> -->
</form>