@model MumanalPG.Models.Administra.Almacen

@{
    ViewData["Title"] = "Almacen";
}

<h2>Crear</h2>

<h4>Almacen</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdTipoAlmacen" class="control-label"></label>
                <input asp-for="IdTipoAlmacen" class="form-control" />
                <span asp-validation-for="IdTipoAlmacen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdBeneficiario" class="control-label"></label>
                <input asp-for="IdBeneficiario" class="form-control" />
                <span asp-validation-for="IdBeneficiario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdMunicipio" class="control-label"></label>
                <input asp-for="IdMunicipio" class="form-control" />
                <span asp-validation-for="IdMunicipio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdBarrio" class="control-label"></label>
                <input asp-for="IdBarrio" class="form-control" />
                <span asp-validation-for="IdBarrio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCalle" class="control-label"></label>
                <input asp-for="IdCalle" class="form-control" />
                <span asp-validation-for="IdCalle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroEdificio" class="control-label"></label>
                <input asp-for="NumeroEdificio" class="form-control" />
                <span asp-validation-for="NumeroEdificio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroPiso" class="control-label"></label>
                <input asp-for="NumeroPiso" class="form-control" />
                <span asp-validation-for="NumeroPiso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroDepartamento" class="control-label"></label>
                <input asp-for="NumeroDepartamento" class="form-control" />
                <span asp-validation-for="NumeroDepartamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Observacion" class="control-label"></label>
                <input asp-for="Observacion" class="form-control" />
                <span asp-validation-for="Observacion" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="IdEstadoRegistro" class="control-label"></label>
                <input asp-for="IdEstadoRegistro" class="form-control" />
                <span asp-validation-for="IdEstadoRegistro" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="IdUsuario" class="control-label"></label>
                <input asp-for="IdUsuario" class="form-control" />
                <span asp-validation-for="IdUsuario" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="FechaRegistro" class="control-label"></label>
                <input asp-for="FechaRegistro" class="form-control" />
                <span asp-validation-for="FechaRegistro" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
