@addTagHelper *, ReflectionIT.Mvc.Paging
@{
    ViewData["Title"] = "Contabilidad";
}
@*<div class="container-fluid">*@
    <div class="row">

        <div class="col-md-4 col-sm-6 col-xs-12">
            <a asp-area="Finanzas" asp-controller="BalanceApertura" asp-action="index">
                <div class="ribbon-vwrapper card">
                    <div class="ribbon ribbon-success ribbon-vertical-l">
                        <i class="ti-hand-point-right"></i>
                    </div>
                    <h4>Balance Inicial</h4>
                    <p class="ribbon-content">Se registra el Balance Inicial de la Institucion.</p>
                </div>
            </a>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
            <a asp-area="Finanzas" asp-controller="Contabilidad" asp-action="index">
                <div class="ribbon-vwrapper card">
                    <div class="ribbon ribbon-primary ribbon-vertical-l">
                        <i class="ti-import"></i>
                    </div>
                    <h4>Registro Contable (Cabecera)</h4>
                    <p class="ribbon-content">Contiene la cabecera del Registro Contable.</p>
                </div>
            </a>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
            <a asp-area="Finanzas" asp-controller="ContabilidadDetalle" asp-action="index">
                <div class="ribbon-vwrapper card">
                    <div class="ribbon ribbon-primary ribbon-vertical-l">
                        <i class="ti-zip"></i>
                    </div>
                    <h4>Registro Contable (Detalle)</h4>
                    <p class="ribbon-content">Contiene el detalle (asientos) del Registro Contable.</p>
                </div>
            </a>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
            <a asp-area="Finanzas" asp-controller="LibroCompra" asp-action="index">
                <div class="ribbon-vwrapper card">
                    <div class="ribbon ribbon-success ribbon-vertical-l">
                        <i class="ti-export"></i>
                    </div>
                    <h4>Libro de Compras</h4>
                    <p class="ribbon-content">Se procesa y emite el Libro de Compras.</p>
                </div>
            </a>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
            <a asp-area="Finanzas" asp-controller="LibroVenta" asp-action="index">
                <div class="ribbon-vwrapper card">
                    <div class="ribbon ribbon-success ribbon-vertical-l">
                        <i class="ti-hand-point-right"></i>
                    </div>
                    <h4>Libro de Ventas</h4>
                    <p class="ribbon-content">Se procesa y emite el Libro de Ventas.</p>
                </div>
            </a>
        </div>

    </div>
@*</div>*@
