@addTagHelper *, ReflectionIT.Mvc.Paging
@{
    ViewData["Title"] = "Administracion de Fondos";
}
@*<div class="container-fluid">*@
<div class="row">

    <div class="col-md-4 col-sm-6 col-xs-12">
        <a asp-area="Finanzas" asp-controller="CargoCuenta" asp-action="index">
            <div class="ribbon-vwrapper card">
                <div class="ribbon ribbon-success ribbon-vertical-l">
                    <i class="ti-hand-point-right"></i>
                </div>
                <h4>Cargo de Cuenta</h4>
                <p class="ribbon-content">Se administran los fondos para Cargos de Cuenta Documentada.</p>
            </div>
        </a>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12">
        <a asp-area="Finanzas" asp-controller="CargoCuenta" asp-action="index">
            <div class="ribbon-vwrapper card">
                <div class="ribbon ribbon-primary ribbon-vertical-l">
                    <i class="ti-import"></i>
                </div>
                <h4>Caja Chica</h4>
                <p class="ribbon-content">Se administran los fondos de Caja Chica.</p>
            </div>
        </a>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12">
        <a asp-area="Finanzas" asp-controller="CargoCuenta" asp-action="index">
            <div class="ribbon-vwrapper card">
                <div class="ribbon ribbon-primary ribbon-vertical-l">
                    <i class="ti-zip"></i>
                </div>
                <h4>Fondos para Viajes</h4>
                <p class="ribbon-content">Se administra los Fondos para Viajes (Pasajes, Viaticos y otros).</p>
            </div>
        </a>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12">
        <a asp-area="Finanzas" asp-controller="CargoCuenta" asp-action="index">
            <div class="ribbon-vwrapper card">
                <div class="ribbon ribbon-success ribbon-vertical-l">
                    <i class="ti-export"></i>
                </div>
                <h4>Fondos para Cajas</h4>
                <p class="ribbon-content">Se administran los Fondos para Cajas de Regionales y Agencias.</p>
            </div>
        </a>
    </div>
    @*
        <div class="col-md-4 col-sm-6 col-xs-12">
            <a asp-area="Finanzas" asp-controller="Reportes" asp-action="index">
                <div class="ribbon-vwrapper card">
                    <div class="ribbon ribbon-success ribbon-vertical-l">
                        <i class="ti-hand-point-right"></i>
                    </div>
                    <h4>Reportes</h4>
                    <p class="ribbon-content">Se emiten Reportes de la Administracion de Fondos .</p>
                </div>
            </a>
        </div>*@

</div>
@*</div>*@
