@addTagHelper *, ReflectionIT.Mvc.Paging
@{
    ViewData["Title"] = "Pagos";
}
@*<div class="container-fluid">*@
<div class="row">

    <div class="col-md-4 col-sm-6 col-xs-12">
        <a asp-area="Finanzas" asp-controller="PagoRegistro" asp-action="index">
            <div class="ribbon-vwrapper card">
                <div class="ribbon ribbon-success ribbon-vertical-l">
                    <i class="ti-hand-point-right"></i>
                </div>
                <h4>Registro de Pagos</h4>
                <p class="ribbon-content">Se registran los Pagos de los Gastos procesados.</p>
            </div>
        </a>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12">
        <a asp-area="Finanzas" asp-controller="EjecucionGasto" asp-action="index">
            <div class="ribbon-vwrapper card">
                <div class="ribbon ribbon-primary ribbon-vertical-l">
                    <i class="ti-import"></i>
                </div>
                <h4>Ejecucion del Gasto</h4>
                <p class="ribbon-content">Se realiza el seguimiento de la Ejecución por objeto del Gasto.</p>
            </div>
        </a>
    </div>

    @*<div class="col-md-4 col-sm-6 col-xs-12">
            <a asp-area="Finanzas" asp-controller="EjecucionGasto" asp-action="index">
                <div class="ribbon-vwrapper card">
                    <div class="ribbon ribbon-success ribbon-vertical-l">
                        <i class="ti-export"></i>
                    </div>
                    <h4>Seguimiento del Gasto</h4>
                    <p class="ribbon-content">Se realiza el Seguimiento de los procesos por Objeto del Gasto.</p>
                </div>
            </a>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
            <a asp-area="Finanzas" asp-controller="Reporte" asp-action="index">
                <div class="ribbon-vwrapper card">
                    <div class="ribbon ribbon-success ribbon-vertical-l">
                        <i class="ti-hand-point-right"></i>
                    </div>
                    <h4>Reportes de Gastos</h4>
                    <p class="ribbon-content">Se emiten Reportes por Objeto del Gasto.</p>
                </div>
            </a>
        </div>*@

</div>
@*</div>*@
