@model ReflectionIT.Mvc.Paging.PagingList<MumanalPG.Models.Ventas.VentaTarifario>
@using ReflectionIT.Mvc.Paging
@addTagHelper *, ReflectionIT.Mvc.Paging
@{
    ViewData["Title"] = "Prestaciones";
}

<div class="container-fluid">
    <div class="row">
        @* <div class="col-md-4 col-sm-6 col-xs-12"> *@
        @*     <a href=""> *@
        @*         <div class="ribbon-vwrapper card"> *@
        @*             <div class="ribbon ribbon-primary ribbon-vertical-l"> *@
        @*                 <i class="ti-email"></i> *@
        @*             </div> *@
        @*             <h4>Procesos Institucion</h4> *@
        @*             <p class="ribbon-content">Se registran todos los Procesos de la Institución (Administrtivos, Financieros, Prestaciones, etc.).</p> *@
        @*         </div> *@
        @*     </a> *@
        @* *@
        @* </div> *@

        @*<div class="col-md-4 col-sm-6 col-xs-12">
                <a asp-area="Ventas" asp-controller="dashboard" asp-action="docs" >
                    <div class="ribbon-vwrapper card">
                        <div class="ribbon ribbon-success ribbon-vertical-l">
                            <i class="ti-agenda"></i>
                        </div>
                        <h4>Plan de Operaciones</h4>
                        <p class="ribbon-content">Se registra el Plan de Operaciones Anual de la Institución</p>
                    </div>
                </a>
            </div>*@

        <div class="col-md-4 col-sm-6 col-xs-12">
            <a asp-area="Ventas" asp-controller="VentaSolicitud" asp-action="index">
                <div class="ribbon-vwrapper card">
                    <div class="ribbon ribbon-warning ribbon-vertical-l">
                        <i class="ti-import"></i>
                    </div>
                    <h4>Afiliaciones</h4>
                    <p class="ribbon-content">Se registran las Afiliaciones de las personas que pertenecen al Magisterio Nacional.</p>
                </div>
            </a>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
            <a asp-area="Ventas" asp-controller="VentaContratacion" asp-action="index">
                <div class="ribbon-vwrapper card">
                    <div class="ribbon ribbon-warning ribbon-vertical-l">
                        <i class="ti-import"></i>
                    </div>
                    <h4>ASR Digital</h4>
                    <p class="ribbon-content">Se realiza la Digitalizacion de Requisitos de la Ayuda Social Reversible, .</p>
                </div>
            </a>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
            @*<a asp-area="Ventas" asp-controller="VentaContratacion" asp-action="IndexReg">*@
              <a asp-area="Ventas" asp-controller="VentaContrato" asp-action="Index">
                    <div class="ribbon-vwrapper card">
                        <div class="ribbon ribbon-danger ribbon-vertical-l">
                            <i class="ti-export"></i>
                        </div>
                        <h4>ASR</h4>
                        <p class="ribbon-content">Se Procesa la Ayuda Social Reversible.</p>
                    </div>
                </a>

</div>

        @*<div class="col-md-4 col-sm-6 col-xs-12">
                <a href="">
                    <div class="ribbon-vwrapper card">
                        <div class="ribbon ribbon-info ribbon-vertical-l">
                            <i class="ti-map-alt"></i>
                        </div>
                        <h4>Seguimiento</h4>
                        <p class="ribbon-content">Se realiza el Seguimiento del Presupuesto Institucional.</p>
                    </div>
                </a>
            </div>*@

        <div class="col-md-4 col-sm-6 col-xs-12">
            <a href="">
                <div class="ribbon-vwrapper card">
                    <div class="ribbon ribbon-primary ribbon-vertical-l">
                        <i class="ti-bar-chart"></i>
                    </div>
                    <h4>Reportes</h4>
                    <p class="ribbon-content">Reportes del Sub Sistema de Prestaciones.</p>
                </div>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <a asp-area="Ventas" asp-controller="DashboardVenta" asp-action="Clasificadores">
                <div class="ribbon-vwrapper card">
                    <div class="ribbon ribbon-success ribbon-vertical-l">
                        <i class="ti-settings"></i>
                    </div>
                    <h4>Clasificadores</h4>
                    <p class="ribbon-content">Registro de Datos Basicos para el proceso del Subsistema.</p>
                </div>
            </a>
        </div>
    </div>
</div>
