@model MumanalPG.Models.Administra.TipoUnidadMedida  
<partial name="_MensajeEliminar"/>
<form asp-action="Delete">
    <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
    <input type="hidden" asp-for="IdTipoUnidadMedida"/>
</form>
