@model MumanalPG.Models.Ventas.VentaRequisito

@{
    ViewData["Title"] = "Prestaciones / ASR / Contratación / Requisitos / Carga Archivo";
}

<h3>@ViewBag.Documento</h3>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CargaArchivo" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="IdVentaRequisito" />
            <input type="hidden" asp-for="IdVentaContratacion" />
            <input type="hidden" asp-for="IdDocumentoRespaldo" />
            <input type="hidden" asp-for="IdDocumentoFormato" />
            <div class="form-group">
                <table>
                    <tr>
                        @*<td> <label asp-for="IdDocumentoFormato" class="control-label"></label> </td>
                        <td>
                            <input asp-for="IdDocumentoFormato" class="form-control" />
                            <span asp-validation-for="IdDocumentoFormato" class="text-danger"></span>
                        </td>*@
                    </tr>
                </table>
            </div>

            @*<input type="file" name="ArchivoPDF" required accept="application/pdf" />*@
            @*<input type="file" name="ArchivoPDF" title="Escanear Archivo" />*@
            <link href="https://cdnjs.cloudflare.com/ajax/libs/ratchet/2.0.2/css/ratchet.css" rel="stylesheet" />
            <label for="ArchivoPDF" class="btn btn-primary btn-block btn-outlined">Seleccionar Documento</label>
            <input type="file" id="ArchivoPDF" name="ArchivoPDF" accept="image/*" style="display: none">

            <br>
            <br>
            <div class="form-group">
                <input type="submit" asp-route-id="@ViewBag.id" value="Grabar" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regreso a Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
