@model MumanalPG.Models.Ventas.VentaRequisito

@{
    ViewData["Title"] = "Ver Documento";
}

<input type="hidden" asp-for="IdVentaContratacion" />

<div>
    <a asp-action="Index" asp-route-id="@ViewBag.idContratacion">Regreso a lista de Requisitos</a>
    @*<a asp-action="Index" asp-route-id="IdVentaContratacion">Regreso a lista de Requisitos</a>*@
</div>
<br />

<img src="@ViewData["ArchivoPDF2"]" />


@*<img src="D:\Fuentes\aJorge\MumanalPG\MumanalPG\wwwroot\pantalla" />

    <embed src-“@ViewData["ArchivoPDF"]” type="application/pdf" width=50 height=100> </embed>
    <embed src-“@ViewData["ArchivoPDF"]” type="application/pdf"> </embed>
    <embed src="D:\Fuentes\aJorge\MumanalPG\MumanalPG\wwwroot\Algebra_tablas.pdf" width="800px" height="2100px" />

    <a href="D:\Fuentes\aJorge\MumanalPG\MumanalPG\wwwroot\Algebra_tablas.pdf" tabindex="-1"><strong>__</strong></a>*@

