<div class="col-10">
    <div class="card pl-5">
        <div class="card-body">
            <div class="row animated bounceIn">
                <i class="text-danger fas fa-times fa-4x mx-2 d-none d-sm-inline float-left mr-3"></i>
                <h3 class="text-danger float-right pt-3">
                    ¿En realidad quiere eliminar este registro?
                </h3>
            </div>
        </div>
    </div>
</div>