<section id="wrapper" class="error-page">
    <div class="error-box">
        <div class="error-body text-center">
            <h1>400</h1>
            <h3 class="text-uppercase">¡No Encontrado!</h3>
            <p class="text-muted m-t-30 m-b-30">Nno hemos encontrado el recurso solicitado</p>
            <a href="/" class="btn btn-info btn-rounded waves-effect waves-light m-b-40">ir al Inicio</a> </div>
    </div>
</section>
<script>
    $(document).ready(function() {
        $('#modal-save').hide();
    });
</script>