<div class="card text-center">
    <div class="card-body">
        <h4 class="card-title">No se han encontrado resultados</h4>
        <p class="card-text">No hay registros para mostrar</p>
        <a href="/" class="btn btn-info">Ir al inicio</a>
    </div>
</div>