@page
@model RegisterModel
@{
    ViewData["Title"] = "Nuevo Usuario";
}

@*<h2>@ViewData["Title"]</h2>*@

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            @*<h4>Create a new account.</h4>*@
            @*<hr />*@
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label>Nombre </label>
                <input asp-for="Input.Name" class="form-control" />
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Usuario / Correo Electrónico</label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Telefono</label>
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Contraseña</label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Confirmar Contraseña</label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Es SuperAdmin?</label>
                <input asp-for="Input.IsSuperAdmin" type="checkbox" class="form-control" />
            </div>
            <button type="submit" class="btn btn-skype">Grabar</button>
           @* <a class="btn btn-skype" asp-action="Requisitos" asp-route-id="@item.IdVentaContratacion">Requisitos</a>*@
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
