@addTagHelper *, ReflectionIT.Mvc.Paging
@{
    ViewData["Title"] = "Activos Fijos";
}
@*<div class="container-fluid">*@
    <div class="row">

        <div class="col-md-4 col-sm-6 col-xs-12">
            <a asp-area="Administra" asp-controller="ActivoFijo" asp-action="index">
                <div class="ribbon-vwrapper card">
                    <div class="ribbon ribbon-success ribbon-vertical-l">
                        <i class="ti-hand-point-right"></i>
                    </div>
                    <h4>Alta Activo Fijo</h4>
                    <p class="ribbon-content">Se registra la Activación del Bien (Activo Fijo).</p>
                </div>
            </a>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
            <a asp-area="Administra" asp-controller="ActivoAsignacion" asp-action="index">
                <div class="ribbon-vwrapper card">
                    <div class="ribbon ribbon-primary ribbon-vertical-l">
                        <i class="ti-import"></i>
                    </div>
                    <h4>Asignación Activo Fijo</h4>
                    <p class="ribbon-content">Se registra la Asignación del Activo a un Responsble.</p>
                </div>
            </a>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
            <a asp-area="Administra" asp-controller="ActivoTransferencia" asp-action="index">
                <div class="ribbon-vwrapper card">
                    <div class="ribbon ribbon-primary ribbon-vertical-l">
                        <i class="ti-zip"></i>
                    </div>
                    <h4>Activo Transferencia</h4>
                    <p class="ribbon-content">Se registran las Transferencias de Activos Fijos.</p>
                </div>
            </a>
        </div>

        @*<div class="col-md-4 col-sm-6 col-xs-12">
            <a asp-area="Administra" asp-controller="PartidaGasto" asp-action="index">
                <div class="ribbon-vwrapper card">
                    <div class="ribbon ribbon-success ribbon-vertical-l">
                        <i class="ti-export"></i>
                    </div>
                    <h4>Partidas del Gasto</h4>
                    <p class="ribbon-content">Se registran las Partidas por Objeto del Gasto.</p>
                </div>
            </a>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
            <a asp-area="Administra" asp-controller="RubroIngreso" asp-action="index">
                <div class="ribbon-vwrapper card">
                    <div class="ribbon ribbon-success ribbon-vertical-l">
                        <i class="ti-hand-point-right"></i>
                    </div>
                    <h4>Rubros de Ingreso</h4>
                    <p class="ribbon-content">Se registran los Rubros de Ingresos.</p>
                </div>
            </a>
        </div>*@

    </div>
@*</div>*@
