@addTagHelper *, ReflectionIT.Mvc.Paging
@{
    ViewData["Title"] = "Almacenes";
}
@*<div class="container-fluid">*@
    <div class="row">

        <div class="col-md-4 col-sm-6 col-xs-12">
            <a asp-area="Administra" asp-controller="AlmacenIngreso" asp-action="index">
                <div class="ribbon-vwrapper card">
                    <div class="ribbon ribbon-success ribbon-vertical-l">
                        <i class="ti-hand-point-right"></i>
                    </div>
                    <h4>Ingresos Almacenes</h4>
                    <p class="ribbon-content">Se registran los Ingresos de Bienes en Almacenes.</p>
                </div>
            </a>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
            <a asp-area="Administra" asp-controller="AlmacenSalida" asp-action="index">
                <div class="ribbon-vwrapper card">
                    <div class="ribbon ribbon-primary ribbon-vertical-l">
                        <i class="ti-import"></i>
                    </div>
                    <h4>Salidas Almacenes</h4>
                    <p class="ribbon-content">Se registran las Salidas de Bienes en Almacenes.</p>
                </div>
            </a>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
            <a asp-area="Administra" asp-controller="AlmacenInventario" asp-action="index">
                <div class="ribbon-vwrapper card">
                    <div class="ribbon ribbon-primary ribbon-vertical-l">
                        <i class="ti-zip"></i>
                    </div>
                    <h4>Inventario Almacenes</h4>
                    <p class="ribbon-content">Se administra el Inventario de Almacenes.</p>
                </div>
            </a>
        </div>

        @*<div class="col-md-4 col-sm-6 col-xs-12">
            <a asp-area="Administra" asp-controller="PartidaGasto" asp-action="index">
                <div class="ribbon-vwrapper card">
                    <div class="ribbon ribbon-success ribbon-vertical-l">
                        <i class="ti-export"></i>
                    </div>
                    <h4>Partidas del Gasto</h4>
                    <p class="ribbon-content">Se registran las Partidas por Objeto del Gasto.</p>
                </div>
            </a>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
            <a asp-area="Administra" asp-controller="RubroIngreso" asp-action="index">
                <div class="ribbon-vwrapper card">
                    <div class="ribbon ribbon-success ribbon-vertical-l">
                        <i class="ti-hand-point-right"></i>
                    </div>
                    <h4>Rubros de Ingreso</h4>
                    <p class="ribbon-content">Se registran los Rubros de Ingresos.</p>
                </div>
            </a>
        </div>*@

    </div>
@*</div>*@
