@addTagHelper *, ReflectionIT.Mvc.Paging
@{
    ViewData["Title"] = "Administrativo";
}
@*<div class="container-fluid">*@
<div class="row">

    <div class="col-md-4 col-sm-6 col-xs-12">
        <a asp-area="Administra" asp-controller="TipoAlmacen" asp-action="index">
            <div class="ribbon-vwrapper card">
                <div class="ribbon ribbon-primary ribbon-vertical-l">
                    <i class="ti-zip"></i>
                </div>
                <h4>Clasificacion Almacenes</h4>
                <p class="ribbon-content">Se registra la Estructura Programatica para el Presupuesto.</p>
            </div>
        </a>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12">
        <a asp-area="Administra" asp-controller="Almacen" asp-action="index">
            <div class="ribbon-vwrapper card">
                <div class="ribbon ribbon-primary ribbon-vertical-l">
                    <i class="ti-import"></i>
                </div>
                <h4>Almacen</h4>
                <p class="ribbon-content">Se registra los Organismos Financiadores que utiliza la institucion.</p>
            </div>
        </a>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12">
        <a asp-area="Administra" asp-controller="Bienes" asp-action="index">
            <div class="ribbon-vwrapper card">
                <div class="ribbon ribbon-success ribbon-vertical-l">
                    <i class="ti-hand-point-right"></i>
                </div>
                <h4>Bienes</h4>
                <p class="ribbon-content">Se registran las Fuentes de Financiamiento que utiliza la institucion.</p>
            </div>
        </a>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12">
        <a asp-area="Administra" asp-controller="Marca" asp-action="index">
            <div class="ribbon-vwrapper card">
                <div class="ribbon ribbon-success ribbon-vertical-l">
                    <i class="ti-export"></i>
                </div>
                <h4>Marcas</h4>
                <p class="ribbon-content">Se registran las Marcas de los bienes.</p>
            </div>
        </a>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12">
        <a asp-area="Administra" asp-controller="Modelo" asp-action="index">
            <div class="ribbon-vwrapper card">
                <div class="ribbon ribbon-success ribbon-vertical-l">
                    <i class="ti-hand-point-right"></i>
                </div>
                <h4>Modelos de Bienes</h4>
                <p class="ribbon-content">Se registran los Modelos por cada Marca de Bienes.</p>
            </div>
        </a>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12">
        <a asp-area="Administra" asp-controller="TipoUnidadMedida" asp-action="index">
            <div class="ribbon-vwrapper card">
                <div class="ribbon ribbon-success ribbon-vertical-l">
                    <i class="ti-hand-point-right"></i>
                </div>
                <h4>Tipos de Unidades de Medida</h4>
                <p class="ribbon-content">Se registra la clasificación de Tipos de Unidades de Medida.</p>
            </div>
        </a>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12">
        <a asp-area="Administra" asp-controller="UnidadMedida" asp-action="index">
            <div class="ribbon-vwrapper card">
                <div class="ribbon ribbon-success ribbon-vertical-l">
                    <i class="ti-hand-point-right"></i>
                </div>
                <h4>Unidades de Medida</h4>
                <p class="ribbon-content">Se registran las Unidades de Medida (Unidades de Manejo) de los Bienes.</p>
            </div>
        </a>
    </div>

    @*
        <div class="col-md-4 col-sm-6 col-xs-12">
            <a asp-area="Administra" asp-controller="ModalidadContratacion" asp-action="index">
                <div class="ribbon-vwrapper card">
                    <div class="ribbon ribbon-success ribbon-vertical-l">
                        <i class="ti-hand-point-right"></i>
                    </div>
                    <h4>Modalidad de Contratacion</h4>
                    <p class="ribbon-content">Se registran las Modalidades de Contratacion de BB. y SS.</p>
                </div>
            </a>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
            <a asp-area="Administra" asp-controller="MetodoSeleccion" asp-action="index">
                <div class="ribbon-vwrapper card">
                    <div class="ribbon ribbon-success ribbon-vertical-l">
                        <i class="ti-hand-point-right"></i>
                    </div>
                    <h4>Metodo de Seleccion</h4>
                    <p class="ribbon-content">Se registran los Métodos de Seleccion, relacionados a las Modalidades de Contratacion de BB. y SS.</p>
                </div>
            </a>
        </div>

    *@

</div>
@*</div>*@
