@model MumanalPG.Models.Generales.Zona  
<partial name="_MensajeEliminar"/>
<form asp-action="Delete">
    <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
    <input type="hidden" asp-for="IdZona"/>
</form>
