@model MumanalPG.Models.Generales.Pais
<form asp-action="@ViewData["Action"]">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @{
        string hasError = "has-danger";
        string stringErrors = "";
        if (ViewData.ModelState.IsValid) { hasError = ""; }
        else
        {
            var errorList = ViewData.ModelState.Where(x => x.Value.Errors.Count > 0).ToDictionary(kvp => kvp.Key);
            stringErrors = String.Join(",", errorList.Select(x => x.Key));
        }
    }
    <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
    <input type="hidden" asp-for="IdPais" />
    <div class="form-group m-b-40 @if(stringErrors.Contains("IdContinente")){@hasError}">
        <label asp-for="IdContinente" class="form-control-label"></label>
        <br>
        @* @Html.DropDownList("Continente", ViewBag.Continente, "Sin asignar", new { @class = "form-control" }) *@
       <select asp-for="IdContinente" class="form-control"
               asp-items="@(new SelectList(ViewBag.Continente, "IdContinente", "Descripcion"))">
       </select>
    </div>
    <div class="form-group m-b-40 @if(stringErrors.Contains("CodigoPais")){@hasError}">
        <label asp-for="CodigoPais" class="form-control-label"></label>
        <input asp-for="CodigoPais" class="form-control" />
        <span asp-validation-for="CodigoPais" class="text-danger"></span>
    </div>
    <div class="form-group m-b-40 @if(stringErrors.Contains("Descripcion")){@hasError}">
        <label asp-for="Descripcion" class="form-control-label"></label>
        <textarea asp-for="Descripcion" class="form-control"></textarea>
        <span asp-validation-for="Descripcion" class="text-danger"></span>
    </div>
    <div class="form-group m-b-40 @if(stringErrors.Contains("Sigla")){@hasError}">
        <label asp-for="Sigla" class="form-control-label"></label>
        <input asp-for="Sigla" class="form-control" />
        <span asp-validation-for="Sigla" class="text-danger"></span>
    </div>
    <div class="form-group m-b-40 @if(stringErrors.Contains("CodigoTelefonico")){@hasError}">
        <label asp-for="CodigoTelefonico" class="form-control-label"></label>
        <input asp-for="CodigoTelefonico" class="form-control" />
        <span asp-validation-for="CodigoTelefonico" class="text-danger"></span>
    </div>
    <div class="form-group m-b-40 @if(stringErrors.Contains("DescripcionIngles")){@hasError}">
        <label asp-for="DescripcionIngles" class="form-control-label"></label>
        <input asp-for="DescripcionIngles" class="form-control" />
        <span asp-validation-for="DescripcionIngles" class="text-danger"></span>
    </div>
    <div class="form-group m-b-40 @if(stringErrors.Contains("CodigoIso")){@hasError}">
        <label asp-for="CodigoIso" class="form-control-label"></label>
        <input asp-for="CodigoIso" class="form-control" />
        <span asp-validation-for="CodigoIso" class="text-danger"></span>
    </div>
    <div class="form-group m-b-40 @if(stringErrors.Contains("CodigoAeropuerto")){@hasError}">
        <label asp-for="CodigoAeropuerto" class="form-control-label"></label>
        <input asp-for="CodigoAeropuerto" class="form-control" />
        <span asp-validation-for="CodigoAeropuerto" class="text-danger"></span>
    </div>
    <div class="form-group m-b-40 @if(stringErrors.Contains("CodigoHorario")){@hasError}">
        <label asp-for="CodigoHorario" class="form-control-label"></label>
        <input asp-for="CodigoHorario" class="form-control" />
        <span asp-validation-for="CodigoHorario" class="text-danger"></span>
    </div>
</form>