@model ReflectionIT.Mvc.Paging.PagingList<MumanalPG.Models.RRHHParam.TipoBeneficiario>
@using ReflectionIT.Mvc.Paging
@addTagHelper *, ReflectionIT.Mvc.Paging
@{
    ViewData["Title"] = "Correspondencia";
}
<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-4 col-xs-12">
        <a href="">
            <div class="ribbon-vwrapper card">
                <div class="ribbon ribbon-primary ribbon-vertical-l">
                    <i class="ti-email"></i>
                </div>
                <h4>Bandeja Principal</h4>
                <p class="ribbon-content">Aqui podra encontrar toda la correspondencia recibida y enviada.</p>
            </div>
        </a>

    </div>
    <div class="col-lg-3 col-md-6 col-sm-4 col-xs-12">
        <a href="">
            <div class="ribbon-vwrapper card">
                <div class="ribbon ribbon-success ribbon-vertical-l">
                    <i class="ti-agenda"></i>
                </div>
                <h4>Manejo de Archivos</h4>
                <p class="ribbon-content">Aqui podra administrar todos los documentos, (Informes, Memorandums, Notas, etc.)</p>
            </div>
        </a>

    </div>
    <div class="col-lg-3 col-md-6 col-sm-4 col-xs-12">
        <a href="">
            <div class="ribbon-vwrapper card">
                <div class="ribbon ribbon-warning ribbon-vertical-l">
                    <i class="ti-import"></i>
                </div>
                <h4>Correspondencia Interna</h4>
                <p class="ribbon-content">Aqui podra administrar toda la correspondencia interna relacionada con su cuenta</p>
            </div>
        </a>

    </div>
    <div class="col-lg-3 col-md-6 col-sm-4 col-xs-12">
        <a href="">
            <div class="ribbon-vwrapper card">
                <div class="ribbon ribbon-danger ribbon-vertical-l">
                    <i class="ti-export"></i>
                </div>
                <h4>Correspondencia Externa</h4>
                <p class="ribbon-content">Aqui podra administrar toda la correspondencia externa relacionada con su cuenta</p>
            </div>
        </a>

    </div>
    <div class="col-lg-3 col-md-6 col-sm-4 col-xs-12">
        <a href="">
            <div class="ribbon-vwrapper card">
                <div class="ribbon ribbon-info ribbon-vertical-l">
                    <i class="ti-map-alt"></i>
                </div>
                <h4>Seguimiento</h4>
                <p class="ribbon-content">Aqui podra hacer seguimiento a las hojas de ruta</p>
            </div>
        </a>

    </div>
    <div class="col-lg-3 col-md-6 col-sm-4 col-xs-12">
        <a href="">
            <div class="ribbon-vwrapper card">
                <div class="ribbon ribbon-primary ribbon-vertical-l">
                    <i class="ti-bar-chart"></i>
                </div>
                <h4>Reportes</h4>
                <p class="ribbon-content">Aqui podra generar reportes</p>
            </div>
        </a>

    </div>
    
    
    <div class="col-lg-3 col-md-6 col-sm-4 col-xs-12">
        <a asp-area="correspondencia" asp-controller="dashboard" asp-action="clasificadores">
            <div class="ribbon-vwrapper card">
                <div class="ribbon ribbon-success ribbon-vertical-l">
                    <i class="ti-settings"></i>
                </div>
                <h4>Clasificadores</h4>
                <p class="ribbon-content">Aqui podra hacer seguimiento a las hojas de ruta</p>
            </div>
        </a>

    </div>
</div>
