@model IEnumerable<MumanalPG.Models.Seguridad.Usuario>
@{
    ViewData["Title"] = "Usuarios";
}

@*<br /><br />*@

<div class="row">
    <div class="col-6">
        <h2 class="text-info"> Usuarios</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-info"><i class="fas fa-plus"></i>&nbsp; Nuevo Usuario</a>
    </div>
</div>

<br />
<div>
    <table class="table table-striped border">
        <tr class="table-info">
            <th>
                Nombre
                @*@Html.DisplayNameFor(m => m.Name)*@
            </th>
            <th>
                Usuario/Correo Electrónico
                @*@Html.DisplayNameFor(m => m.Email)*@
            </th>
            <th>
                Telefono
                @*@Html.DisplayNameFor(m => m.PhoneNumber)*@
            </th>
            <th>
                Desabilitado
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(m => item.Name)
            </td>
            <td>
                @Html.DisplayFor(m => item.Email)
            </td>
            <td>
                @Html.DisplayFor(m => item.PhoneNumber)
            </td>
            <td>
                @if(item.LockoutEnd!=null && item.LockoutEnd>DateTime.Now)
                {
                <label>Desabilitado</label>
                }
            </td>
            <td>
                @if (item.LockoutEnd == null || item.LockoutEnd < DateTime.Now)
                {
                    <partial name="_TableButtonPartial" model="item.Id"/>
                }
            </td>
           
        </tr>

        }
    </table>
</div>

