@model MumanalPG.Models.ApplicationUser
<div class="col-10">
    <div class="card pl-5">
        <div class="card-body">
            <div class="row animated bounceIn">
                <i class="text-success fas fa-key fa-4x mx-2 d-none d-sm-inline float-left mr-3"></i>
                <h3 class="text-success float-right pt-3">
                    ¿Restaurar contraseña por defecto "User123*"?
                </h3>
            </div>
        </div>
    </div>
</div>
<form asp-action="Restore">
    <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
    <input type="hidden" asp-for="Id"/>
</form>
